@model PRINGUP_Proj.Models.Izvjestaj

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Izvjestaj</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Members_present)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members_present)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Posted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Posted)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.Date_Edited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Edited)
        </dd>

        

        <dt>
            Posted by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
            <hr />
        </dd>

    </dl>
</div>
<p>
    <p>@Html.ActionLink("View as PDF", "GeneratePDF", new { id = Model.ID }) </p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
   @if (this.User.IsInRole("Admin"))
   {
    @Html.ActionLink("Back to List", "Index")
   }
   else
   {
    @Html.ActionLink("Back to List", "IndexUser")
   }    
</p>




