@model IEnumerable<PRINGUP_Proj.Models.Izvjestaj>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Posted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time_Posted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Edited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time_Edited)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Posted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time_Posted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Edited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time_Edited)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
