@model IEnumerable<PRINGUP_Proj.Models.Izvjestaj>

@{
    ViewBag.Title = "IndexUser";
}

<h2>IndexUser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Report including: @Html.TextBox("SearchString")
        <input type="submit" value="Search" class="btn btn-secondary btn-sm"/>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "IndexUser", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
           @Html.ActionLink("Date", "IndexUser", new { sortOrder = ViewBag.DateSortParm })
        </th>     
        <th>
            @Html.ActionLink("Date edited", "IndexUser", new { sortOrder = ViewBag.DateEditSortParm })
        </th>      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Posted)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Date_Edited)
        </td>      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("View as PDF", "GeneratePDF", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }) 
            
        </td>
    </tr>
}

</table>
